* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card>img {
    height: 15rem;
}

#hienThiProducts .col-3 {
    height: 30rem;

}

/* .custom-text {
    font-size: 1rem;
} */

/* #totalProduct {
    z-index: 99;
} */

.tangGiam {
    transition: .3s;
}

.tangGiam:hover {
    background: gray;
}

.card:hover {
    /* box-shadow: rgba(222, 255, 74, 0.2) 0px 7px 29px 0px; */
    background: rgba(205, 255, 7, 0.2);
}

#loading {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

/* #hienThiProducts {
    gap: 10px;
} */

.has-icon {
    position: fixed;
    right: 5%;
    top: 5%;
}

.number {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    background: rgb(255, 61, 61);
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1.2rem;
    font-weight: 600;
    /* top: 1rem; */
    right: 0%;
    user-select: none;
}

.my-welcome {
    background: linear-gradient(to right, green, orange, aqua, red);
}

.btn-add {
    transition: .2s;
    outline: none;
    border: none;
    opacity: 0;
}

.card:hover .btn-add {
    opacity: 1;
}

.card {
    transition: .2s;
}

.card:hover {
    border: 1px red solid;
}

/* side bar */
body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* mycss */
.cardZZZZ {
    flex-direction: row;
}

.cardZZZZ span.text-danger {
    cursor: pointer;
}

.cardZZZZ img {
    object-fit: contain;
    padding: 20px;
    max-height: 10rem;
    max-width: 12rem;
    
}

.font-italic {
    z-index: 99;
    color: wheat;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #24C6DC;
    background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);
    background: linear-gradient(to bottom, #514A9D, #24C6DC);
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(-90px) rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(-180deg);
        border-radius: 50%;
        opacity: 0;
    }
}